pip==22.0.3
streamlit
numpy
pandas
datetime 
seaborn
openpyxl  
matplotlib==3.5.2
sqlalchemy   
scipy
mysql.connector
plotly.express
plotly
psycopg2-binary==2.9.5
#warnings
pickle
smtplib
ssl
pdfkit
jinja2
MIMEAudio
MIMEBase
MIMEImage
MIMEMultipart
MIMEText
Deta
streamlit.components.v1
streamlit-aggrid==0.2.3.post2
